# Ignore all files in the 'SOCKET_DATA' subfolder.
/SOCKET_DATA/*

# Ignore all files in any 'lightning_logs' folders
/*/lightning_logs/*

# Ignore all files in any '__pycache__' folders
/*/__pycache__/*

# Ignore all files in any '.cache' folders
/*/.cache/*
